
<% @events.each do |event| %>
<div>

  <h1><a href="/<%= event.id%>"><%= event.name %></a></h1>
<!--   <h3>Location: <%= event.location %></h3>
  <p>Event Details: <%= event.description %></p> -->

</div>
<hr />
<% end %>
