<form method="post" action="/submit_event">
  <label for="event_name">Event Name</label>
  <input type="text" name="event_name" id="event_name">
  <label for="location">Event Location</label>
  <input type="text" name="location" id="location">
  <label for "description">Event Description</label>
  <input type="text" name="description" id="description">
  <input type="submit" />
</form>

<!-- form for:
-name
-location
-description


upon submitting, sent to show page
on the show page, a message is displayed indicating that the event was created properly -->
